<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Roles</title>
</head>
<body>
	<h1>Role</h1>

	<form th:action="@{/roles/gravar}" method="post" th:object="${role}" action="#">
	
		
		<input type="hidden" th:field="*{id}" />
		
		<label for="nome">Titulo</label>
    	<input type="text" th:field="*{role}" id="role" name="role" placeholder="Basica">
    	<span th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Error</span>
		
		<hr>
		
		 <button type="submit" class="btn btn-primary">Gravar</button>
  
 		 <a href="/roles/list" class="btn btn-primary">Voltar</a>
	
	</form>
	
</body>
</html>
