<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Roles</title>
</head>
<body>
	<h1>Listagem de regras</h1>
	
	<ul>		
		<li>			
			<a href="/roles/novo">Nova</a>			
		</li>		
	</ul>
	
	<hr>
	
	<table>
	
		<tr th:each="role : ${listaRoles}">
		
			<td th:text="${role.id}">1</td>
			
			<td><a href="#" th:href="@{'/roles/editar/'+${role.id}}" th:text="${role.name}"> Role </a></td>
			
			<td><a href="#" th:href="@{'/roles/excluir/'+${role.id}}" th:text="X"> Apagar </a></td>
			
		</tr>
	
	</table>
	
	
</body>
</html>
