<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Autores</title>
</head>
<body>
	<h1>Listagem de autores</h1>
	
	<ul>		
		<li>			
			<a href="/autores/novo">Novo</a>			
		</li>		
	</ul>
	
	<hr>
	
	<table>
	
		<tr th:each="autor : ${listaAutores}">
		
			<td th:text="${autor.id}">1</td>
			
			<td><a href="#" th:href="@{'/autores/editar/'+${autor.id}}" th:text="${autor.nome}"> Título </a></td>
			
			<td><a href="#" th:href="@{'/autores/excluir/'+${autor.id}}" th:text="X"> Apagar </a></td>
			
		</tr>
	
	</table>
	
	
</body>
</html>
