<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
	<meta charset="UTF-8" />
	<title>Biblioteca</title>
</head>
<body>	
	
	<div class="container">
	
		<div class="row justify-content-md-center">
		    <div class="col-3">
		     	<div class="card" style="width: 18rem;">
		     	
		     		<div class="card-header">
				    	Biblioteca
			  		</div>
						     	
					 <ul class="list-group list-group-flush">
					 
					   	<li class="list-group-item">
							<a href="/livros/list">Livros</a>
						</li>
						
					   	<li class="list-group-item">
							<a href="/autores/list">Autores</a>
						</li>
						
						<li class="list-group-item">
							<a href="/roles/list">Regras</a>
						</li>
						
					 </ul>
					 
				</div>
		    </div>
		  </div>
	  </div>		
	</div>

</body>
</html>
